:root {
  color-scheme: light;
}

body {
  color: #606060;
  background-color: white;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color: #C0C0C0;
    background-color: #242424;
  }
}
