---
---

@import 'haptic';

:root {
  color-scheme: light;
}

body {
  color: #606060;
  background-color: white;
  font-size: 16px;
  font-family: sans-serif;
  padding: 1rem;
}

hr {
  background-color: #C0C0C0;
  border: none;
  height: 1px;
  margin: 1.5rem 0 .5rem 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  text-decoration: none;

  &, &:visited {
    color: #2670D0;
  }
}

code {
  font-size: .875rem;

  &.elem-name {
    color: #7B1FA2;
  }

  &.attr-name {
    color: #689F38;
  }

  &.attr-value {
    color: #0288D1;
  }
}

li {
  margin-top: .25rem;
}

pre {
  background-color: #F0F0F0;
  border-radius: .25rem;
  font-size: .875rem;
  padding: .5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
  padding: .5rem 0;
  width: 50%;
}

td {
  padding: .5rem 0;
}

tr:not(:first-of-type) td {
  border-top: 1px solid #D8D8D8;
}

.example {
  display: flex;
  gap: .5rem;
  justify-content: center;

  &.stretch {
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }
}

.material-symbols-rounded {
  font-size: 18px;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color: #C0C0C0;
    background-color: #181818;
  }

  hr {
    background-color: #606060;
  }

  a {
    &, &:visited {
      color: #7BA1D0;
    }
  }

  code {
    &.elem-name {
      color: #CE93D8;
    }

    &.attr-name {
      color: #C5E1A5;
    }

    &.attr-value {
      color: #81D4FA;
    }

    &.variable {
      font-style: italic;
    }
  }

  pre {
    background-color: #242424;
  }

  tr:not(:first-of-type) td {
    border-top-color: #484848;
  }
}
